In [14]:
# Import libreries
import pandas as pd
import numpy as np

In [15]:
# Create 8 random columns and 1000 rows and one more column with customer id

data = np.array([np.random.randint(low=1, high=20, size=8) for i in range(1000)])
Customer_id= np.array([np.random.randint(low=1, high=20, size=1) for i in range(1000)])

In [16]:
data

array([[18,  4, 10, ..., 19, 18, 16],
       [11,  2, 15, ..., 18,  8, 19],
       [ 2,  5, 18, ...,  5,  2, 14],
       ...,
       [ 2, 19,  4, ...,  5, 15, 12],
       [ 6, 18,  4, ...,  2, 17, 13],
       [12, 19, 13, ...,  8,  4, 18]])

In [17]:
# DataFrame and name columns

df= pd.DataFrame(data, columns=['Marketing', 'Sales', 'Logistics', 'Department 1', 'Department 2', 
                                'Department 3', 'Department 4', 'Department 5'])

df['Customer'] = Customer_id
df['Customer'].astype('str')

0      10
1      13
2      18
3       1
4       7
       ..
995    17
996     8
997    19
998     2
999    15
Name: Customer, Length: 1000, dtype: object

In [18]:
df.head()

,Marketing,Sales,Logistics,Department 1,Department 2,Department 3,Department 4,Department 5,Customer
0,18,4,10,16,14,19,18,16,10
1,11,2,15,13,17,18,8,19,13
2,2,5,18,6,4,5,2,14,18
3,8,17,15,19,15,19,8,19,1
4,2,3,1,6,17,9,7,14,7

In [19]:
# First department target: Marketing_target. Segments by %.
s = np.random.choice([15, 12, 10, 8], p=[0.10, 0.20, 0.40, 0.30], size = (1000,1))
df1 = pd.DataFrame(s, columns=['Seg'])
df['Marketing_Target'] = df1['Seg']

In [20]:
df['Segment'] = df['Marketing_Target']

In [21]:
df

,Marketing,Sales,Logistics,Department 1,Department 2,Department 3,Department 4,Department 5,Customer,Marketing_Target,Segment
0,18,4,10,16,14,19,18,16,10,10,10
1,11,2,15,13,17,18,8,19,13,15,15
2,2,5,18,6,4,5,2,14,18,15,15
3,8,17,15,19,15,19,8,19,1,10,10
4,2,3,1,6,17,9,7,14,7,12,12
...,...,...,...,...,...,...,...,...,...,...,...
995,15,13,7,4,19,14,5,1,17,15,15
996,14,15,9,13,18,2,14,10,8,8,8
997,2,19,4,17,14,5,15,12,19,10,10
998,6,18,4,11,7,2,17,13,2,12,12
999,12,19,13,11,9,8,4,18,15,10,10

In [22]:
# Replace number of target by segment name

df['Segment'] = df['Segment'].replace({15:'Strategic', 12:'Emerging', 10:'Core', 8:'Competitive'})

In [23]:
df

,Marketing,Sales,Logistics,Department 1,Department 2,Department 3,Department 4,Department 5,Customer,Marketing_Target,Segment
0,18,4,10,16,14,19,18,16,10,10,Core
1,11,2,15,13,17,18,8,19,13,15,Strategic
2,2,5,18,6,4,5,2,14,18,15,Strategic
3,8,17,15,19,15,19,8,19,1,10,Core
4,2,3,1,6,17,9,7,14,7,12,Emerging
...,...,...,...,...,...,...,...,...,...,...,...
995,15,13,7,4,19,14,5,1,17,15,Strategic
996,14,15,9,13,18,2,14,10,8,8,Competitive
997,2,19,4,17,14,5,15,12,19,10,Core
998,6,18,4,11,7,2,17,13,2,12,Emerging
999,12,19,13,11,9,8,4,18,15,10,Core

In [24]:
df['Segment'].unique()

array(['Core', 'Strategic', 'Emerging', 'Competitive'], dtype=object)

In [25]:
# Replace random numbers for the amount of visits

df['Marketing_Target'] = df['Customer'].replace({1:8, 2:10, 3:12, 4:15, 5:10, 6:8, 7:8, 8:10, 9:10,
                                       10:8, 11:10, 12:12, 13:15, 14:8, 15:12, 16:10, 17:8,
                                       18:12, 19:10})

In [26]:
# Replace random numbers for Customer Segment

df['Segment'] = df['Customer'].replace({1:"Competitive", 2: "Core", 3: "Emerging", 4:"Strategic",
                                       5:"Core", 6:"Competitive", 7:"Competitive", 8:"Core",
                                       9:"Core", 10:"Competitive", 11:"Core", 12:"Emerging",
                                       13:"Strategic", 14: "Competitve", 15:"Emerging", 16:"Core",
                                       17:"Competitive", 18:"Emerging", 19:"Core"})

In [27]:
df.columns

Index(['Marketing', 'Sales', 'Logistics', 'Department 1', 'Department 2',
       'Department 3', 'Department 4', 'Department 5', 'Customer',
       'Marketing_Target', 'Segment'],
      dtype='object')

In [28]:
# Create new columns for department targets

df['Sales_Target'] = df['Marketing_Target']
df['Logistics_Target'] = df['Marketing_Target']
df['Department 1_Target'] = df['Marketing_Target']
df['Department 2_Target'] = df['Marketing_Target']
df['Department 3_Target'] = df['Marketing_Target']
df['Department 4_Target'] = df['Marketing_Target']
df['Department 5_Target'] = df['Marketing_Target']

In [30]:
# Create calculated column with the price for one more visit 

calc = (df['Marketing']-df['Marketing_Target'])*125
df['Marketing_Incremental_cost'] = calc
df['Marketing_Incremental_cost'] = df['Marketing_Incremental_cost'].mask(df['Marketing_Incremental_cost'].lt(0),0)

In [32]:
calc2 = (df['Sales']-df['Sales_Target'])*125
df['Sales_Incremental_cost'] = calc2
df['Sales_Incremental_cost'] = df['Sales_Incremental_cost'].mask(df['Sales_Incremental_cost'].lt(0),0)

In [34]:
calc3 = (df['Logistics']-df['Logistics_Target'])*125
df['Logistics_Incremental_cost'] = calc3
df['Logistics_Incremental_cost'] = df['Logistics_Incremental_cost'].mask(df['Logistics_Incremental_cost'].lt(0),0)

In [36]:
calc4 = (df['Department 1']-df['Department 1_Target'])*125
df['Department 1_Incremental_cost'] = calc4
df['Department 1_Incremental_cost'] = df['Department 1_Incremental_cost'].mask(df['Department 1_Incremental_cost'].lt(0),0)

In [38]:
calc5 = (df['Department 2']-df['Department 2_Target'])*125
df['Department 2_Incremental_cost'] = calc5
df['Department 2_Incremental_cost'] = df['Department 2_Incremental_cost'].mask(df['Department 2_Incremental_cost'].lt(0),0)

In [41]:
calc6 = (df['Department 3']-df['Department 3_Target'])*125
df['Department 3_Incremental_cost'] = calc6
df['Department 3_Incremental_cost'] = df['Department 3_Incremental_cost'].mask(df['Department 3_Incremental_cost'].lt(0),0)

In [42]:
calc7 = (df['Department 4']-df['Department 4_Target'])*125
df['Department 4_Incremental_cost'] = calc7
df['Department 4_Incremental_cost'] = df['Department 4_Incremental_cost'].mask(df['Department 4_Incremental_cost'].lt(0),0)

In [43]:
calc8 = (df['Department 5']-df['Department 5_Target'])*125
df['Department 5_Incremental_cost'] = calc8
df['Department 5_Incremental_cost'] = df['Department 5_Incremental_cost'].mask(df['Department 5_Incremental_cost'].lt(0),0)

In [44]:
df

,Marketing,Sales,Logistics,Department 1,Department 2,Department 3,Department 4,Department 5,Customer,Marketing_Target,...,Department 4_Target,Department 5_Target,Marketing_Incremental_cost,Sales_Incremental_cost,Logistics_Incremental_cost,Department 1_Incremental_cost,Department 2_Incremental_cost,Department 3_Incremental_cost,Department 4_Incremental_cost,Department 5_Incremental_cost
0,18,4,10,16,14,19,18,16,10,8,...,8,8,1250,0,250,1000,750,1375,1250,1000
1,11,2,15,13,17,18,8,19,13,15,...,15,15,0,0,0,0,250,375,0,500
2,2,5,18,6,4,5,2,14,18,12,...,12,12,0,0,750,0,0,0,0,250
3,8,17,15,19,15,19,8,19,1,8,...,8,8,0,1125,875,1375,875,1375,0,1375
4,2,3,1,6,17,9,7,14,7,8,...,8,8,0,0,0,0,1125,125,0,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,15,13,7,4,19,14,5,1,17,8,...,8,8,875,625,0,0,1375,750,0,0
996,14,15,9,13,18,2,14,10,8,10,...,10,10,500,625,0,375,1000,0,500,0
997,2,19,4,17,14,5,15,12,19,10,...,10,10,0,1125,0,875,500,0,625,250
998,6,18,4,11,7,2,17,13,2,10,...,10,10,0,1000,0,125,0,0,875,375
999,12,19,13,11,9,8,4,18,15,12,...,12,12,0,875,125,0,0,0,0,750

In [45]:
import random
from datetime import datetime

In [48]:
# Date column

start = datetime(2021, 1, 1)
end = datetime(2021, 12, 30)
random_date = np.array([start + (start - end) * random.random() for i in range(1000)])

In [49]:
df['Date'] = random_date
df['Date'] = df['Date'].dt.date

In [51]:
df.columns

Index(['Marketing', 'Sales', 'Logistics', 'Department 1', 'Department 2',
       'Department 3', 'Department 4', 'Department 5', 'Customer',
       'Marketing_Target', 'Segment', 'Sales_Target', 'Logistics_Target',
       'Department 1_Target', 'Department 2_Target', 'Department 3_Target',
       'Department 4_Target', 'Department 5_Target',
       'Marketing_Incremental_cost', 'Sales_Incremental_cost',
       'Logistics_Incremental_cost', 'Department 1_Incremental_cost',
       'Department 2_Incremental_cost', 'Department 3_Incremental_cost',
       'Department 4_Incremental_cost', 'Department 5_Incremental_cost',
       'Date'],
      dtype='object')

In [52]:
# Order columns

df = df[['Date', 'Segment', 'Customer', 'Marketing', 'Marketing_Target', 'Marketing_Incremental_cost',
        'Sales', 'Sales_Target', 'Sales_Incremental_cost', 'Logistics', 'Logistics_Target', 'Logistics_Incremental_cost',
        'Department 1', 'Department 1_Target', 'Department 1_Incremental_cost', 'Department 2', 'Department 2_Target', 'Department 2_Incremental_cost',
        'Department 3', 'Department 3_Target', 'Department 3_Incremental_cost', 'Department 4', 'Department 4_Target', 'Department 4_Incremental_cost',
        'Department 5', 'Department 5_Target', 'Department 5_Incremental_cost']]
df

,Date,Segment,Customer,Marketing,Marketing_Target,Marketing_Incremental_cost,Sales,Sales_Target,Sales_Incremental_cost,Logistics,...,Department 2_Incremental_cost,Department 3,Department 3_Target,Department 3_Incremental_cost,Department 4,Department 4_Target,Department 4_Incremental_cost,Department 5,Department 5_Target,Department 5_Incremental_cost
0,2020-02-19,Competitive,10,18,8,1250,4,8,0,10,...,750,19,8,1375,18,8,1250,16,8,1000
1,2020-07-09,Strategic,13,11,15,0,2,15,0,15,...,250,18,15,375,8,15,0,19,15,500
2,2020-01-09,Emerging,18,2,12,0,5,12,0,18,...,0,5,12,0,2,12,0,14,12,250
3,2020-12-01,Competitive,1,8,8,0,17,8,1125,15,...,875,19,8,1375,8,8,0,19,8,1375
4,2020-05-04,Competitive,7,2,8,0,3,8,0,1,...,1125,9,8,125,7,8,0,14,8,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020-12-13,Competitive,17,15,8,875,13,8,625,7,...,1375,14,8,750,5,8,0,1,8,0
996,2020-06-23,Core,8,14,10,500,15,10,625,9,...,1000,2,10,0,14,10,500,10,10,0
997,2020-08-25,Core,19,2,10,0,19,10,1125,4,...,500,5,10,0,15,10,625,12,10,250
998,2020-11-15,Core,2,6,10,0,18,10,1000,4,...,0,2,10,0,17,10,875,13,10,375
999,2020-09-10,Emerging,15,12,12,0,19,12,875,13,...,0,8,12,0,4,12,0,18,12,750